/* GLOBAL STYLES */

/* comma is like 'and' */

/* mini reset
html,
body {
    margin: 0;
    padding: 0;
} */

/*h1 {
            border: 1px solid #000;
      width: 50%;
      margin: 10%;
      font-size: 1rem;
      padding: 15px;
    } */

h1 {
    font-size: 7vw;
    margin-top: 0;
}

a {
    color: #6397b5;
}

p {
    /* space between the lines */
    line-height: 1.5;
    margin: 0.75em 0;
}
h2 {
    font-size: 2em;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgba(249, 127, 245, 0.05);
    font-family: helvetica, arial, sans-serif;
    /*height: 2500px;*/
    /* the 62.5% trick to make default font 10px and make fractions easier
      best if avoided
      font-size: 62.5%; */
}
.content-container {
    display: flex;
    flex: 1 1 auto;
    /*flex-direction: column; not needed with home wrapper */
    padding-top: 10vh;
    width: 100%;
}
.content-container:active{
background-color: red;
}
html {
    /*font-size: 18px;*/
    /* why is there an annoying line of space between box shadow and body!important!important?!important */
    box-shadow: 0 0 0 30px #000 inset;
    padding: 0px 30px;
    /*position: absolute;
    z-index: 50;*/
}
html:active {
    box-shadow: none;
}
h2~p {
    font-size: 0.8em;
    font-style: italic;
    margin: 1em auto 0;
    max-width: 70%;
    text-align: center;
}

/* HEADER STYLES */

.header {
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 53;
}
/*.header:active {
    display: none;
}*/
.header-logo {
    background-color: #000;
    box-sizing: border-box;
    display: block;
    height: 10vh;
    padding-top: 10px;
    position: relative;
    text-align: center;
    width: 10vh;
    left: -30px;
}

.header-logo:hover,
.header-logo:active {
    background-color: #ed6e2f;
}

.header-logo img {
    width: 4.3vh;
}

.header-nav {
    float: right;
    padding: 5.5vh 60px 0 0;
}

.header-nav>li {
    display: inline-block;
    margin-left: 1em;
}

.header-nav>li~li {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 1em;
}

.header-nav a {
    color: #fff;
}

.nav-links a {
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:active {
    color: #ed6e2f;
}

.header-nav>li:first-child a {
    color: #ed6e2f;
}

.header-nav>li:first-child a:hover {
    color: #fff;
}

/* FOOTER STYLES */

.footer {
    background-color: #000;
    padding: 5vh 0px 7vh 0px;
    text-align: center;
    position: relative;
    left: -0.05%;
    width: 100.1%;
    flex-grow: 0;
}

.footer-logo img {
    width: 50px;
}

.footer h3 {
    color: #fff;
    padding-top: 1.5em;
    text-transform: uppercase;
}

.footer h3 span {
    color: #aaa;
}

.footer-nav li {
    display: inline-block;
    margin: 2em 1em 0;
}

.footer-nav a {
    color: #ccc;
}
.footer .social {
    margin-top: 0.5em;
    /*padding-right: 0.1em;
    padding-left: 0.1em;*/
}

/* SOCIAL STYLES */

.social {
    color: white;
    background: rgba(56, 23, 21, 0.30);
    box-sizing: border-box;
    /* what does this do exactly again? */
    /* inline-block allows to format like block in some ways but keep it inline with text */
    display: inline-block;
    border-radius: 50px;
    font-family: helvetica, arial, sans;
    font-size: 1rem;
    font-weight: bold;
    height: 2.5em;
    line-height: 1;
    padding-top: 0.8em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 2.5em;
}

.social:hover {
    background-color: blue;
}

.show {
    display: block;
}

/* BIO STYLES */

.bio-wrapper {
    /* for overflow can use hidden, visible, or scroll */
    overflow: hidden;
    /*background-color: #c0e0c3;*/
    /* could use clear: both; for content below but this better 
      overflow: hidden;
       not good if need to define height cause content can get cutt off*/
}

/* styling for what happens after .bio-wrapper */

/*can use if need to define height instead of overflow: hidden; */

/*.bio-wrapper:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    } */

.bio-box {
    box-sizing: border-box;
    float: left;
    width: 33.333%;
    font-size: 1rem;
    padding: 0 3%;
    margin: 6rem 0 0;
    /*font-size: 150%;*/
}

.bio-box img {
    width: 100%;
}

.bio-box .social {
    display: block;
    margin: 2em auto 1em;
    /* better spacing for social links */
}

.bio-box h3 {
    color: #000;
    margin: -40px 0 1em;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
}

.bio-copy p {
    margin-bottom: 0px;
}

.bio-copy {
    font-size: 0.75em;
}

.bio-copy a {
    color: #0b0;
    /* padding: 20px; */
}

/*overtakes in specificity */

/* .bio-box > a {
      color: #c68bf9;
    } 
    .bio-box .social{
      text-align: center; /* margin: auto; doesnt work cause not a block 
    }
    div.bio-box {
        border: 1px solid #0b0;
      }*/

/* apparently social-link is already a default class*/

/* HERO STYLES */

.full-hero:active {
    background-image: none;
}

.full-hero {
    /*position: relative;*/
    /*width: 100%; not needed with home wrapper */
    background-color: #c7dbfc;
    height: 90vh;
    box-sizing: border-box;
    /* move content down with padding */
    padding-top: 20px;
    margin: auto;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top; /*x,y takes %'s too */
}
.full-hero:after {
    /* for lines below is triangle trick instead of using "﹀" */
    border: 10px solid;
    border-color: #fff transparent transparent;
    height: 0;
    width: 0;
    bottom: 2vh;
    color: #fff;
    content: "";
    font-size: 36px;
    left: 50%;
    position: absolute; /*when static arrow is not below hero, why? cause its inline not block?? */
    transform: translate(-50%, 0);
}
.hero-home {
    background-image: url(/images/shark.jpg);
}
.hero-content {
    color: #fff;
    position: relative;
    text-transform: uppercase;
    top: 50%;
    transform: translate(0,-50%);
}
.hero-content h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 7vw;
    margin-bottom: 0.25em;
}
.hero-content .social {
    background-color: rgba(255,255,255,0.8);
    color: #557c83;
}
.hero-content .social:hover {
    background-color: #000;
    color: #fff;
}
.social-lists {
    padding: 0px;
    /*position: relative; why does relatice position change the position compared to when static? */
    /*z-index: 40;*/
}

.full-hero ul {
    /*position: absolute;*/
    bottom: 5px;
    right: 5px;
    /* HOW DO I MOVE THE BULLETS W/ TEXT? Just removed them for the meanwhile*/
    /*list-style-type: none; goes away with inline-block */
    /* list-style-position: 0px; */
}

/* " > " selects only direct children */

.social-lists>li {
    /*figure out how to remove spacings when display is inline */
    display: inline-block;
    margin: 0 0.5em;
}

/* HOMEPAGE STYLES */
.home-section {
    margin: 6rem auto;
    max-width: 980px;
    width: 90vw;
}
.home-section h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.home-callout {
    /* shadow box fix should probably make the fix its own class*/
    display: flex;
    /*flex-direction: column-reverse;*/
    align-items: center;
    position: relative;
    left: -0.05%;
    width: 100.1%;
    background-color: #000;
    color: #fff;
    padding: 7vh 0;
}
.home-callout h3 {
    color: inherit;
    margin-top: 1em;
}
.callout-title {
    flex: 1; /* shrt hand for flex: 1 1 0 */
    font-size: 5.75vw;
    text-align: right;
    text-transform: uppercase;
}
.callout-copy {
    flex: 0.3 0 45em;
    padding: 0 3vw;
    font-size: 0.8rem;
}
/* COLUMN STYLES */
.col-three {
    display: flex;
    flex: 1;
}
.col {
    box-sizing: border-box;
    padding: 2em;
}
/* why do we need the ~ ?*/
.col-three .col ~ .col{
    border-left: 1px solid rgba(0, 0, 0 ,0.1);
}
.col-three .col-nav {
    flex: 0 1 15em;
}
.col-three .col-content {
    flex: 1;
}
/*why be able to shrink right and left side? */
.col-three .col-aside {
    flex: 0 1 20em;
}
/* GALLERY */
.galley-thumbs {
    height: 90vh;
    overflow: scroll;
}
.gallery-thumbs > div {
    cursor: pointer;
}
.gallery-thumbs img {
    box-sizing: border-box;
    box-shadow: 0 0 0 5px transparent;
    display: inline-block;
    margin: 0 0 10px;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    width: 100%;
}
.gallery-thumbs img:hover {
    opacity: 1;
    width: 50%;
}
.gallery-thumbs .current img {
    box-shadow: 0 0 0 5px #ed6e2f;
    opacity: 1;
}
.gallery-photo {
    position: relative;
}
.gallery-photo img {
    width: 100%;
}
.gallery-info {
    font-size: 0.8rem;
}
.gallery-info h3 {
    margin-bottom: 1em;
}
/* TEST BOX */

.test-box {
    background: #9db6dd;
    margin: 50px;
    width: 200px;
}

.test-box-nosizing {
    border: 10px solid #000;
    padding: 40px;
}

.test-box-sizing {
    /* box-sizing make sure padding and border are within box (width of content) */
    box-sizing: border-box;
    margin-top: 75px;
    width: auto;
}
