/* GLOBAL STYLES */

/* comma is like 'and' */

/* mini reset
html,
body {
    margin: 0;
    padding: 0;
} */

/*h1 {
            border: 1px solid #000;
      width: 50%;
      margin: 10%;
      font-size: 1rem;
      padding: 15px;
    } */

h1 {
    font-size: 7vw;
    margin-top: 0;
}

a {
    color: #6397b5;
}

p {
    /* space between the lines */
    line-height: 1.5;
    margin: 0.75em 0;
}
h2 {
    font-size: 2em;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgba(249, 127, 245, 0.05);
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    /*height: 2500px;*/
    /* the 62.5% trick to make default font 10px and make fractions easier
      best if avoided
      font-size: 62.5%; */
      /* temp solution */
      overflow-x: hidden;
}
.content-container {
    display: flex;
    flex: 1 1 auto;
    /*flex-direction: column; not needed with home wrapper */
    padding-top: 10vh;
    width: 100%;
}
.content-container:active{
background-color: red;
}
html {
    /*font-size: 18px;*/
    /* why is there an annoying line of space between box shadow and body!important!important?!important */
    box-shadow: 0 0 0 30px #000 inset;
    padding: 0px 30px;
    /*position: absolute;
    z-index: 50;*/
}
html:active {
    box-shadow: none;
}
h2~p {
    font-size: 0.8em;
    font-style: italic;
    margin: 1em auto 0;
    max-width: 70%;
    text-align: center;
}

h4 {
  color: #999;
  font-weight: bold;
  text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', helvetica, sans;
  font-weight: 100;
}
/* HEADER STYLES */

.header {
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 50;
}
/*.header:active {
    display: none;
}*/
.header-logo {
    background-color: #000;
    box-sizing: border-box;
    display: block;
    height: 10vh;
    padding-top: 10px;
    position: relative;
    text-align: center;
    width: 10vh;
    left: -30px;
}

.header-logo:hover,
.header-logo:active {
    background-color: #ed6e2f;
}

.header-logo img {
    width: 4.3vh;
}

.header-nav {
    float: right;
    padding: 5.5vh 60px 0 0;
}

.header-nav>li {
    display: inline-block;
    margin-left: 1em;
}

.header-nav>li~li {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 1em;
}

.header-nav a, .drop-trigger{
    color: #fff;
}

.nav-links a, .drop-trigger,
.drop-title, .show-mobile-menu {
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:active {
    color: #ed6e2f;
}

.header-nav>li:first-child a {
    color: #ed6e2f;
}

.header-nav>li:first-child a:hover {
    color: #fff;
}

/* FOOTER STYLES */

.footer {
    background-color: #000;
    padding: 5vh 0px 7vh 0px;
    text-align: center;
    position: relative;
    left: -0.05%;
    width: 100.1%;
}

.footer-logo img {
    width: 50px;
}

.footer h3 {
    color: #fff;
    padding-top: 1.5em;
    text-transform: uppercase;
}

.footer h3 span {
    color: #aaa;
}

.footer-nav li {
    display: inline-block;
    margin: 2em 1em 0;
}

.footer-nav a {
    color: #ccc;
}
.footer .social {
    margin-top: 0.5em;
    /*padding-right: 0.1em;
    padding-left: 0.1em;*/
}

/* SOCIAL STYLES */

.social {
    color: white;
    background: rgba(56, 23, 21, 0.30);
    box-sizing: border-box;
    /* what does this do exactly again? */
    /* inline-block allows to format like block in some ways but keep it inline with text */
    display: inline-block;
    border-radius: 50px;
    font-family: helvetica, arial, sans;
    font-size: 1rem;
    font-weight: bold;
    height: 2.5em;
    line-height: 1;
    padding-top: 0.8em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 2.5em;
}

.social:hover {
    background-color: blue;
}

.show {
    display: block;
}

/* BIO STYLES */

.bio-wrapper {
    /* for overflow can use hidden, visible, or scroll */
    overflow: hidden;
    /*background-color: #c0e0c3;*/
    /* could use clear: both; for content below but this better 
      overflow: hidden;
       not good if need to define height cause content can get cutt off*/
}

/* styling for what happens after .bio-wrapper */

/*can use if need to define height instead of overflow: hidden; */

/*.bio-wrapper:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    } */

.bio-box {
    box-sizing: border-box;
    float: left;
    width: 33.333%;
    font-size: 1rem;
    padding: 0 3%;
    margin: 6rem 0 0;
    /*font-size: 150%;*/
}

.bio-box img {
    width: 100%;
}

.bio-box .social {
    display: block;
    margin: 2em auto 1em;
    /* better spacing for social links */
}

.bio-box h3 {
    color: #000;
    margin: -40px 0 1em;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
}

.bio-copy p {
    margin-bottom: 0px;
}

.bio-copy {
    font-size: 0.75em;
}

.bio-copy a {
    color: #0b0;
    /* padding: 20px; */
}

/*overtakes in specificity */

/* .bio-box > a {
      color: #c68bf9;
    } 
    .bio-box .social{
      text-align: center; /* margin: auto; doesnt work cause not a block 
    }
    div.bio-box {
        border: 1px solid #0b0;
      }*/

/* apparently social-link is already a default class*/

/* HERO STYLES */

.full-hero:active {
    background-image: none;
}

.full-hero {
    /*position: relative;*/
    /*width: 100%; not needed with home wrapper */
    background-color: #c7dbfc;
    height: 90vh;
    box-sizing: border-box;
    /* move content down with padding */
    padding-top: 20px;
    margin: auto;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top; /*x,y takes %'s too */
}
.full-hero:after {
    /* for lines below is triangle trick instead of using "﹀" */
    border: 10px solid;
    border-color: #fff transparent transparent;
    height: 0;
    width: 0;
    bottom: 2vh;
    color: #fff;
    content: "";
    font-size: 36px;
    left: 50%;
    position: absolute; /*when static arrow is not below hero, why? cause its inline not block?? */
    transform: translate(-50%, 0);
}
.hero-home {
    background-image: url(/images/shark.jpg);
}
.hero-content {
    color: #fff;
    position: relative;
    text-transform: uppercase;
    top: 50%;
    transform: translate(0,-50%);
}
.hero-content h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 7vw;
    margin-bottom: 0.25em;
}
.hero-content .social {
    background-color: rgba(255,255,255,0.8);
    color: #557c83;
}
.hero-content .social:hover {
    background-color: #000;
    color: #fff;
}
.social-lists {
    padding: 0px;
    /*position: relative; why does relatice position change the position compared to when static? */
    /*z-index: 40;*/
}

.full-hero ul {
    /*position: absolute;*/
    bottom: 5px;
    right: 5px;
    /* HOW DO I MOVE THE BULLETS W/ TEXT? Just removed them for the meanwhile*/
    /*list-style-type: none; goes away with inline-block */
    /* list-style-position: 0px; */
}

/* " > " selects only direct children */

.social-lists>li {
    /*figure out how to remove spacings when display is inline */
    display: inline-block;
    margin: 0 0.5em;
}

.half-hero {
  background-position: center 37%;
  background-size: cover;
  height: 40vh;
}
/* HOMEPAGE STYLES */
.home-section {
    margin: 6rem auto;
    max-width: 980px;
    width: 90vw; /*why not width: 100%;*/
}
.home-section h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.home-section h4 {
  margin-bottom: 0.5em;
  text-align: center;
}
.home-section .post-header{
  text-align: center;
}
.home-section .blog-posts {
  margin: auto;
  width: 75%;
}
.home-callout {
    /* shadow box fix should probably make the fix its own class*/
    display: flex;
    /*flex-direction: column-reverse;*/
    align-items: center;
    position: relative;
    left: -0.05%;
    width: 100.1%;
    background-color: #000;
    color: #fff;
    padding: 7vh 0;
}
.home-callout h3 {
    color: inherit;
    margin-top: 1em;
}
.callout-title {
    flex: 1; /* shrt hand for flex: 1 1 0 */
    font-size: 5.75vw;
    text-align: right;
    text-transform: uppercase;
}
.callout-copy {
    flex: 0.3 0 45em;
    padding: 0 3vw;
    font-size: 0.8rem;
}
/* COLUMN STYLES */
.col-three {
    display: flex;
    flex: 1;
}
.col {
    box-sizing: border-box;
    padding: 2em;
}
/* why do we need the ~ ? selecting everything after first .col? */
.col-three .col ~ .col{
    border-left: 1px solid rgba(0, 0, 0 ,0.1);
}
.col-three .col-nav {
    flex: 0 1 15em;
}
.col-three .col-content {
    flex: 1;
}
.col-two {
  display: flex;
}
.col-two .col-aside {
  flex: 0 0 15em;
  order: 1;
}
.col-two .col-content {
  flex: 1;
}
/*why be able to shrink right and left side? */
.col-three .col-aside {
    flex: 0 1 20em;
}
/* PAGE STYLES */
.page {
  margin: 10vh auto 15vh;
  max-width: 980px;
  width: 85vw;
}
.page h1 {
  font-size: 3em;
  margin-bottom: 1em;
  text-align: center;
}
.page h2 {
  margin-bottom: 0.5em;
}
.page h4 {
  margin-bottom: 1em;
}
/* GALLERY */
.gallery-thumbs {
    /* ignore for now but inquire */
    height: 89vh; /*???*/
    overflow: auto;
}
.gallery-thumbs > div {
    cursor: pointer;
}
.gallery-thumbs img {
    box-sizing: border-box;
    box-shadow: 0 0 0 5px transparent;
    display: inline-block;
    margin: 0 0 10px;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    width: 100%;
}
.gallery-thumbs img:hover {
    opacity: 1;
    width: 50%;
}
.gallery-thumbs .current img {
    box-shadow: 0 0 0 5px #ed6e2f;
    opacity: 1;
}
.gallery-photo {
    position: relative;
}
.gallery-photo img {
    width: 100%;
}
.gallery-info {
    font-size: 0.8rem;
}
.gallery-info h3 {
    margin-bottom: 1em;
}

/* BLOG STYLES */
.blog-recent {
  text-align: right;
}
.blog-title-list {
  list-style: none;
  padding: 0;
}
.blog-title-list li ~ li {
  margin-top: 1.5em;
}
.blog-title-list .pic-name{
    width: 100%;
    box-sizing: border-box;
}

.blog-title-list span {
  color: #999;
  display: block;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0.5em;
}
.blog-posts ~ .blog-posts {
  border-top: 1px dotted rgba(0, 0, 0, 0.3);
  margin-top: 4em;
  padding-top: 4em;
}
.recents ~ .recents {
  border-top: 1px dotted rgba(0, 0, 0, 0.3);
  margin-top: 1em;
  padding-top: 1em;
}
.blog-posts .post-header {
  font-size: 0.8rem;
}
.post-header {
  margin-bottom: 1.5em;
}
.post-header img,
.post-header .social-link, .pic-name img {
  margin-right: 0.5em;
}
.post-header img, .pic-name img {
  border-radius: 99px;
  display: inline-block;
  height: 2.5em;
  vertical-align: middle;
}
.posts-image {
  background-position: 50% 38%;
  background-size: cover;
  height: 6em;
  margin-bottom: 1.5em;
}
.post {
  width: 100%;
}
.post-content,
.post-footer {
  margin: auto;
  max-width: 40em;
  width: 85vw;
}
.pull-left {
  float: left;
  margin: 2em 2em 2em -2%;
}
.pull-right {
  float: right;
  margin: 2em -2% 2em 2em;
}
.post-aside {
  background-color: rgba(0, 0, 0, 0.01);
  float: right;
  margin: 0 0 2em 2em;
  padding: 2em;
}
.post .post-header {
  margin-bottom: 2.5em;
  text-align: center;
}
.post-content {
  font-size: 1.1rem;
}
.post-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-style: italic;
  font-size: 0.8em;
  margin-top: 3em;
  padding-top: 2em;
}

/* DROPDOWN STLES */

.dropdown{
  position: relative;
}
.dropdown:hover .drop-menu {
  display:block;
}
/* why cant do drop-trigger:hover?? */
.dropdown:hover .drop-trigger:after {
  border-color: #ed6e2f transparent transparent;
}
.drop-trigger {
  display: inline-block;
  padding-right: 1.5em;
  position: relative;
}
.drop-trigger:after {
  border: 0.3em solid;
  border-color: #fff transparent transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  top: 0.3em;
  width: 0;
}
.drop-menu {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  display: none;
  list-style: none;
  padding: 1em 0 0;
  position: absolute;
  right: 0;
  z-index: 9;
  border-radius: 0 0 5px 5px;
}
.drop-menu:before {
  border: 0.6em solid;
  border-color: transparent transparent #fff;
  content:"";
  height: 0;
  position: absolute;
  right: 1em;
  top: -0.1em;
  width: 0;
}
.drop-menu li {
  background-color: #fff;
}
.drop-menu li ~ li {
  border-top: 1px dotted rgba(0,0,0,0.1);
}
.drop-menu li:first-child {
  border-radius: 5px 5px 0 0;
  color: #999;
  font-size: 0.5em;
  padding: 1em 1em 0.25em;
  text-align: right;
}

.drop-menu li:last-child a, 
.drop-menu li:last-child {
  /* needed to change radius of drop-meny too */
  border-radius: 0 0 5px 5px;
}
.drop-menu a {
  color: #333;
  display: block;
  font-weight: normal;
  padding: 0.5em 2em 0.5em 1em;
  text-align: left;
  text-transform: none;
  white-space: nowrap;
}
.drop-menu a:hover {
  background-color: rgba(0,0,0,0.1) !important;
  color: #333;
}
/* Hide in Footer */
/*.footer .dropdown:hover .drop-menu,
.footer .drop-trigger:after {
  display: none;
}
.footer .drop-trigger {
  padding-right: 0;
} */
/* MEH */
.footer .drop-trigger:after {
  border: 0.3em solid;
  border-color: transparent transparent #ccc;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  top: 0.1em;
  width: 0;
}
.footer .drop-menu li {
  padding: 0;
  margin: 0;
}
.footer .drop-menu {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  display: none;
  list-style: none;
  padding: 0 0 0.7rem;
  margin: 0;
  position: absolute;
  right: -0.15em;
  bottom: 1em;
  z-index: 900;
  border-radius: 5px 5px 0px 0px;
  white-space: nowrap;
  text-align: left;
}
.footer .drop-menu a {
  color: #333;
  display: block;
  font-weight: normal;
  padding: 0.5em 2em 0.5em 1em;
  text-align: left;
  text-transform: none;
  white-space: nowrap;
}
.footer .dropdown:hover .drop-trigger:after {
  border-color: transparent transparent #ed6e2f;
}
.footer .drop-menu:before {
  display: none;
}
.footer .drop-menu:after {
  border: 0.6em solid;
  border-color: #fff transparent transparent;
  content:"";
  height: 0;
  position: absolute;
  right: 1em;
  bottom: -0.5em;
  width: 0;
  z-index: 999;
}

.footer .drop-menu li:first-child {
  /* needed to change radius of drop-meny too */
  order: -5;
  padding: 2px 5px 5px 0;
  border-radius: 0 0 5px 5px;
}
.footer .drop-menu li:last-child {
  order: 5;
  border-radius: 5px 5px 0 0;
  color: #999;
  font-size: 0.5em;
  padding: 0 0em 0.25em;
  text-align: left;
}
.footer .dropdown:hover .drop-menu {
  display: flex;
  flex-direction: column-reverse;
}
.footer .drop-menu li ~ li {
  border-bottom: 1px dotted rgba(0,0,0,0.1);
}
/* MOBILE MENU */
.mobile-menu-check,
.show-mobile-menu {
  display: none;
}
/* MEDIA QUERIES */

@media (max-width: 800px) {
  .footer .footer-nav{
    display: none;
  }
  html {
    box-shadow: none;
    padding: 0;
  }
  
  /* HEADER STYLES */
  .header-nav {
    padding: 2vh 1em 0 0;
  }
  .header-nav > li {
    margin-left: 0.25em;
  }
  .nav-links {
    position: absolute;
    right: 0.5vw;
    bottom: 33px;
  }
  .header-nav > li ~ li {
    padding-left: 0.25em;
  }
  .nav-links a {
    font-size: 0.75em;
  }
  .header-logo {
    left: auto;
  }
  
  /* HOME STYLES */
  .home-callout {
    flex-direction: column;
  }
  .callout-copy {
    flex: 1;
  }
  .bio-box {
    float: none;
    font-size: 1.3rem;
    width: auto;
  }
  /* BLOG STYLES */
  .post-aside {
    display: none;
  }
  .blog-recent {
    /*display: none; */
    text-align: center;
  }
  .col-two {
    flex-direction: column-reverse;
  }
  .blog-previews {
    padding: 0;
  }
  /*GALLERY STYLES */
  .gallery {
    flex-direction: column;
  }
  .gallery .col {
    padding: 1em;
  }
  .gallery .gallery-thumbs {
    flex: 1;
    height: auto;
    white-space: nowrap;
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .gallery-thumbs > div {
    display: inline-block;
  }
  .gallery-thumbs img {
    height: 7vh;
    margin: 0 10px 0 0;
    width: auto;
  }
  .gallery .gallery-info {
    flex: 1;
  }
  .gallery-photo {
    /* not great but will do */
    right: 10px;
  }
  /* MOBILE MENU */
  .show-mobile-menu {
    display: block;
    float: right;
    margin-top: 2vh;
    padding: 1.5em;
    position: relative;
  }
  .header-nav {
    background-color: #444;
    box-sizing: border-box;
    height: 0;
    left: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 10vh;
    transition: all 0.5s ease-in-out;
    width: 100vw;
    z-index: 9;
  }
  .header-nav li{
    display: block;
    margin-top: 1em;
  }
  .header-nav li ~ li {
    border: 0;
    padding: 0;
  }
  .header-nav li:last-child {
    margin-bottom: 1em;
  }
  .header-nav li:first-child a {
    color: #fff;
  }
  /* HIDE DROPDOWN IN NAV MENU */
  .header-nav .dropdown:hover .drop-menu,
  .header-nav .drop-trigger:after {
    display: none;
  }
  .header-nav .drop-trigger {
    padding-right: 0;
  }
  .mobile-menu-check:checked ~ .header-nav {
    height: 9em;
  }
  /* makes sure .show-mobile is after .check in html for it to work */
  .mobile-menu-check:checked ~ .show-mobile-menu:after {
    background-color: #000;
    color: #ed6e2f;
    content: "CLOSE";
    left: 0;
    position: absolute;
    top: 1.5em;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .half-hero {
    display: none;
  }
}

/* TEST BOX */

.test-box {
    background: #9db6dd;
    margin: 50px;
    width: 200px;
}

.test-box-nosizing {
    border: 10px solid #000;
    padding: 40px;
}

.test-box-sizing {
    /* box-sizing make sure padding and border are within box (width of content) */
    box-sizing: border-box;
    margin-top: 75px;
    width: auto;
}
