<head>
  {% if page.title %}
  <title>{{ page.title}} | Test Page</title>
  {% else %}
  <title>Test Page: Don't Panic</title>
  {% endif %} 
  {% if page.title %}
  <meta property="og:title" content="{{ page.title}}">
  {% else %}
  <meta property="og:title" content="Test site">
  {% endif %} 
  {% if page.description %}
  <meta name="description" content="{{ page.description }}"> 
  {% else %}
  <meta name="description" content="A website made with the help of the Learn enough CSS and layout tutorial."> 
  {% endif %}
  {% if page.title %}
  <meta property="og:description" content="{{ page.description }}">
  {% else %}
  <meta property="og:description" content="A website made with the help of the Learn enough CSS and layout tutorial.">
  {% endif %}
  <link href="/favicon.png" rel="icon">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <meta charset="utf-8">
  <!-- for mobile, check if works-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <script src="/js/gallery.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      activateGallery();
    });
  </script>
</head>
